footer {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 18px 0 18px 0;
    position: sticky;
    bottom: 0;
    z-index: 20;
    a {
        margin: 0 10px;
    }
    p {
        margin-left: 10px;
    }
}