.desktop {
    background-color: beige;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.creator-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-left: 80px;
}
