// Main Image

.creator-image {
    background-image: url(../assets/profile-photo-one.jpg);
    height: 100%;
    width: 900px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
    
main {
    display: flex;
}
.mainPage {
    display: flex;
}