// Main Image

.creator-image {
    background-image: url(../assets/IMG_5063.JPG);
    height: 100vh;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
}
    

main {
    display: flex;
}
.mainPage {
    display: flex;
}