// Main Image

.creator-image {
    background-image: url(../assets/profile-photo-one.jpg);
    height: 100vh;
    width: 40vw;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
    
main {
    display: flex;
}
.mainPage {
    display: flex;
    position: relative;
}