@media (max-width:1440px) {
    h1 {
        font-size: 3rem;
    }
    .creator-image {
        width: 400px;
    }
}
@media (max-width:1000px){
    h1 {
        font-size: 2rem;
    }
    .creator-image {
        width: 400px;
    }
    .desktop nav {
        justify-content: center;
    }
    .project-gallery ul .project img {
        height: 300px;
    }
    .project {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.project-two, &.project-four {
            margin-right: 50px;
            flex-direction: column !important;
        }
        &.project-one, &.project-three {
            margin-left: 50px;
        }
        .slide-out {
            width: 100% !important;
            margin: 50px 0;
        }
        img {
            width: 100% !important;
            height: 100% !important;
        }
    }
    .aboutMe {
        flex-direction: column;
        margin: -10px 0 0 0;
        p {
            border: none;
            width: 100%;
        }
        ul {
            margin: 30px 0;
            p {
                min-width: 100%;
            }
        }
    }
    .skills {
        padding: 0;
    }
    
}
@media (max-width:800px){
    .desktop .wrapper ul {
        justify-content: center;
        font-size: 0.9rem;
    }
    .writing-text h2 {
        font-size: 1rem;
    }
    @keyframes moving-text {
        from {
            width: 0;
        }
        to {
            width: 300px;
        }
    }
    .contact-info {
        flex-direction: column;
    }
    .about h2 {
        margin-bottom: 30px;
    }
    .skills li {
        margin: 10px;
        h4 {
            text-align: center;
            font-size: 0.8rem;
        }
    }
    .aboutMe P {
        font-size: 0.8rem;
    }
    .project-gallery ul .project {
        margin: 40px;
    }
    .project-gallery ul .project-display {
        width: 100%;
    }
}

@media (max-width: 450px){
    .wrapper {
        width: 90%;
    }
    .hamburger {
        color: #333;
        top: 25px;
        right:20px;
    }
    .creator-heading {
        margin-left: 10px;
    }
    .overlay {
        display: none;
    }
    .creator-image {
        display: none;
    }
    .desktop nav {
        display: none;
    }
    .aboutMe p {
        padding: 0;
        font-size: 0.7rem;
    }
    .tech-skills {
        padding: 0;
        h3 {
            margin-top: 15px;
        }
    }
    .skills li {
        width: 50%;
        margin: 0;
    }
    .contact-info {
        align-items: center;
    }
    .get-in-touch {
        h2 {
            text-align: center;
        }
    }
    .info-skills {
        flex-direction: column;
        .education, .experience {
            width: auto;
        }
        .education {
            border-bottom:1px solid #333;
        }
    }
    .news li {
        width: 100%;
    }
    .footer p {
        font-size: 0.8rem;
    }
}