.mobile {
    display: none;
    position: absolute;
    top: 0;
    right: -10000px;
}

.desktop .wrapper ul {
    display: flex;
    justify-content: end;
    li {
        margin: 0 25px 0 25px;
    }
}
.sticky {
    padding: 0 70px;
}

.desktop {
    padding: 10px 0 10px 0;
    a {
    padding: 8px;
    font-weight: 400;
    transition: 0.4s;
    display: inline-block;
    &:hover, &:focus{
        background-color: #333;
        color: #f6fbff;
        }
    }
}
ul {
    position: sticky;
    top: 0;
    z-index: 20;
}

.overlay {
    position: absolute;
    height: 10px;
    width: 100px;
    background-color: #333;
    z-index: -1;
    transition: 0.4s ease left, width, opacity;
}
.overlay .active {
    opacity: 1;
}