section {
    margin-left: 80px;
}
.about, .projects, .News {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: 80px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 40px 0;
    text-align: center;
    li {
        font-size: 2rem;
        width: 25%;
    }
} 
.info {
    display: flex;
}
.education, .experience {
    width: 50%;
}