section {
    margin-left: 80px;
}
.about, .projects, .News {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-left: 80px;
}