html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f6fbff;
  position: relative;
}

.wrapper {
  max-width: 1440px;
  width: 70%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  color: #333;
  text-transform: uppercase;
}

img {
  width: 100%;
  display: block;
}

ul, li, a, input {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #7d7789;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.slide-out-nav {
  position: absolute;
  top: 0;
  right: 10000px;
  background-color: whitesmoke;
  padding: 30px;
  z-index: 100;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.slide-out-nav li {
  margin: 20px 0;
}
.slide-out-nav i {
  padding: 5px;
}
.slide-out-nav p {
  text-align: end;
}

.desktop .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.desktop .wrapper ul li {
  margin: 0 25px 0 25px;
}

.sticky {
  padding: 0 70px;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 10000px;
  cursor: pointer;
}

.desktop {
  padding: 10px 0 10px 0;
}
.desktop a {
  padding: 8px;
  font-weight: 400;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: inline-block;
}
.desktop a:hover, .desktop a:focus {
  background-color: #333;
  color: #f6fbff;
}

ul {
  position: sticky;
  top: 0;
  z-index: 20;
}

.overlay {
  position: absolute;
  left: 1282px;
  top: 10px;
  height: 39px;
  width: 75.6334px;
  background-color: #333;
  z-index: -1;
  -webkit-transition: 0.4s ease left, width, opacity;
  transition: 0.4s ease left, width, opacity;
}

.overlay .active {
  opacity: 1;
  color: #f6fbff !important;
}

.desktop {
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  z-index: 50;
}

.creator-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
  margin-left: 80px;
}
.creator-heading a {
  background-color: #333;
  padding: 15px 20px;
  color: whitesmoke;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.creator-heading a:hover, .creator-heading a:focus {
  background-color: #f6fbff;
  color: #333;
  border: 2px solid #333;
}
.creator-heading h2::after {
  border: none;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  color: #333;
  margin-bottom: 40px;
}

h1::after {
  content: "";
  border-bottom: 4px black solid;
  display: block;
  width: 15%;
}

.writing-text h2 {
  height: 45px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: none;
  border-right: 2px solid #333;
  white-space: nowrap;
  -webkit-animation: moving-text 6s steps(80) 1s infinite alternate;
          animation: moving-text 6s steps(80) 1s infinite alternate;
}

.writing-text {
  -webkit-animation: blinking-Cursor 400ms steps(44) 1s infinte alternate;
          animation: blinking-Cursor 400ms steps(44) 1s infinte alternate;
}

@-webkit-keyframes moving-text {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}

@keyframes moving-text {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
@-webkit-keyframes blinking-Cursor {
  from {
    border-right: #333;
  }
  to {
    border-right: transparent;
  }
}
@keyframes blinking-Cursor {
  from {
    border-right: #333;
  }
  to {
    border-right: transparent;
  }
}
.creator-image {
  background-image: url(../assets/profile-photo-one.jpg);
  height: 100vh;
  width: 30%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section {
  margin-left: 80px;
}

.about h3 {
  margin: 0 10px 40px 0;
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0 60px 0;
}
.aboutMe p {
  line-height: 1.2rem;
  display: inline-block;
  border-right: 1px solid #333;
  padding-right: 15px;
  width: 50%;
}
.aboutMe ul {
  width: calc(50% - 20px);
  margin: 0 8px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutMe li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.aboutMe li P {
  border: none;
}
.aboutMe li h5 {
  margin-right: 8px;
}

.about, .projects, .news, .get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}

.tech-skills {
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  padding: 20px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
  text-align: center;
}
.skills li {
  font-size: 2rem;
  width: 25%;
  padding: 20px;
}
.skills li:hover i {
  color: rgb(115, 152, 203);
}
.skills li:hover img {
  color: rgb(115, 152, 203);
  opacity: 0.6;
}
.skills li:hover h4 {
  color: rgb(115, 152, 203);
}
.skills li i {
  color: #7d7789;
}
.skills li img {
  color: #7d7789;
  width: 30px;
  height: 40px;
  display: inline;
  opacity: 0.1;
}

.info-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.education, .experience {
  width: 50%;
  padding-left: 13px;
  border-left: 1px solid #333;
}
.education p, .experience p {
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 25px;
}
.education li, .experience li {
  padding: 10px 0;
  text-align: left;
}
.education li h4::before, .experience li h4::before {
  content: "O";
  color: #333;
  display: inline;
  margin-right: 10px;
}

h2::after {
  content: "";
  display: inline-block;
  border-bottom: 3px #333 solid;
  width: 80%;
}

.projects {
  margin-top: 100px;
}

.project-gallery ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project-gallery ul img {
  width: 50%;
}
.project-gallery ul .slide-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(50% - 90px);
}
.project-gallery ul .slide-out i {
  font-size: 2rem;
  margin: 8px 4px 0 0;
}
.project-gallery ul .slide-out h4 {
  margin-top: 10px;
}
.project-gallery ul .slide-out .live-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project-gallery ul .slide-out .live-links a {
  margin: 8px 8px 0 0;
}
.project-gallery ul .underline-hover {
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
}
.project-gallery ul .underline-hover::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  -webkit-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out;
}
.project-gallery ul .underline-hover:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}
.project-gallery ul .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0;
}
.project-gallery ul .project a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project-gallery ul .project img {
  width: 50%;
}
.project-gallery ul .project p {
  margin-top: 20px;
}
.project-gallery ul .project.project-two, .project-gallery ul .project.project-four {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news h2 {
  margin-bottom: 30px;
}

.news li {
  width: 30%;
}

.news h3 {
  margin-top: 40px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: whitesmoke;
  padding: 18px 0 18px 0;
  position: sticky;
  bottom: 0;
  z-index: 20;
}
footer a {
  margin: 0 10px;
}
footer p {
  margin-left: 10px;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  margin-top: 30px;
  text-align: center;
  padding: 25px;
}

.in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.in-touch .location {
  width: calc(50% - 20px);
  padding: 10px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 10px;
}
form input, form textarea {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 20px;
  padding: 10px;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 10px;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 10px;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 10px;
}
form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 10px;
}
form input::placeholder, form textarea::placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 10px;
}

button {
  background-color: #333;
  border: none;
  padding: 10px 0 10px 0;
  color: whitesmoke;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
button:hover, button:focus {
  border: 1px solid #333;
  background-color: whitesmoke;
  color: #333;
}

.get-in-touch {
  margin-bottom: 200px;
}

@media (max-width: 1440px) {
  h1 {
    font-size: 3rem;
  }
  .creator-image {
    width: 400px;
  }
}
@media (max-width: 1000px) {
  h1 {
    font-size: 2rem;
  }
  .creator-image {
    width: 400px;
  }
  .desktop nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-gallery ul .project img {
    height: 300px;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project.project-two, .project.project-four {
    margin-right: 50px;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .project.project-one, .project.project-three {
    margin-left: 50px;
  }
  .project .slide-out {
    width: 100% !important;
    margin: 50px 0;
  }
  .project img {
    width: 100% !important;
    height: 100% !important;
  }
  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -10px 0 0 0;
  }
  .aboutMe p {
    border: none;
    width: 100%;
  }
  .aboutMe ul {
    margin: 30px 0;
  }
  .aboutMe ul p {
    min-width: 100%;
  }
  .skills {
    padding: 0;
  }
}
@media (max-width: 800px) {
  .desktop .wrapper ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.9rem;
  }
  .writing-text h2 {
    font-size: 1rem;
  }
  @-webkit-keyframes moving-text {
    from {
      width: 0;
    }
    to {
      width: 300px;
    }
  }
  @keyframes moving-text {
    from {
      width: 0;
    }
    to {
      width: 300px;
    }
  }
  .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about h2 {
    margin-bottom: 30px;
  }
  .skills li {
    margin: 10px;
  }
  .skills li h4 {
    text-align: center;
    font-size: 0.8rem;
  }
  .aboutMe P {
    font-size: 0.8rem;
  }
  .project-gallery ul .project {
    margin: 40px;
  }
}
@media (max-width: 450px) {
  .hamburger {
    color: #333;
    top: 25px;
    right: 20px;
  }
  .creator-heading {
    margin-left: 10px;
  }
  .overlay {
    display: none;
  }
  .creator-image {
    display: none;
  }
  .desktop nav {
    display: none;
  }
  .aboutMe p {
    margin-top: 30px;
    padding: 0;
    font-size: 0.9rem;
  }
  .tech-skills {
    padding: 0;
  }
  .tech-skills h3 {
    margin-top: 15px;
  }
  .skills li {
    width: 50%;
  }
  .contact-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .get-in-touch h2 {
    text-align: center;
  }
  .info-skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-skills .education, .info-skills .experience {
    width: auto;
  }
  .info-skills .education {
    border-bottom: 1px solid #333;
  }
  .news li {
    width: 100%;
  }
}
.darkMode {
  background-color: #333 !important;
}
.darkMode h1, .darkMode h2, .darkMode h3, .darkMode h4, .darkMode h5, .darkMode p {
  color: whitesmoke !important;
}
.darkMode h2::after {
  border-bottom: 3px whitesmoke solid;
}
.darkMode .button, .darkMode button {
  background-color: whitesmoke !important;
  color: #333;
}
.darkMode .button:hover, .darkMode .button:focus, .darkMode button:hover, .darkMode button:focus {
  border: 1px solid whitesmoke !important;
  background-color: #333 !important;
  color: whitesmoke;
}
.darkMode .project a {
  color: whitesmoke;
}
.darkMode .slide-out i {
  color: whitesmoke;
}
.darkMode .info i {
  color: whitesmoke;
}
.darkMode input, .darkMode textarea {
  border: 1px solid whitesmoke;
}
.darkMode input::-webkit-input-placeholder, .darkMode textarea::-webkit-input-placeholder {
  color: whitesmoke;
}
.darkMode input::-moz-placeholder, .darkMode textarea::-moz-placeholder {
  color: whitesmoke;
}
.darkMode input:-ms-input-placeholder, .darkMode textarea:-ms-input-placeholder {
  color: whitesmoke;
}
.darkMode input::-ms-input-placeholder, .darkMode textarea::-ms-input-placeholder {
  color: whitesmoke;
}
.darkMode input::placeholder, .darkMode textarea::placeholder {
  color: whitesmoke;
}
.darkMode .active-darkmode {
  color: #f6fbff;
}

.active-darkmode {
  position: absolute;
  color: #333;
  top: 75px;
  right: 20px;
  cursor: pointer;
}