html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f6fbff;
}

.wrapper {
  max-width: 1700px;
  width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  color: #333;
}

img {
  max-width: 100%;
  display: block;
}

ul, li, a, input {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

h2 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

.mobile {
  display: none;
  position: absolute;
  top: 0;
  right: -10000px;
}

.desktop .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.desktop .wrapper ul li {
  margin: 0 25px 0 25px;
}

.sticky {
  padding: 0 70px;
}

.desktop {
  padding: 10px 0 10px 0;
}
.desktop a {
  padding: 8px;
  font-weight: 400;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: inline-block;
}
.desktop a:hover, .desktop a:focus {
  background-color: #333;
  color: #f6fbff;
}

ul {
  position: sticky;
  top: 0;
  z-index: 20;
}

.desktop {
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  z-index: 50;
}

.creator-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
  margin-left: 80px;
}
.creator-heading a {
  background-color: #333;
  padding: 15px 20px;
  color: whitesmoke;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.creator-heading a:hover, .creator-heading a:focus {
  background-color: #f6fbff;
  color: #333;
  border: 2px solid #333;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  color: #333;
  margin-bottom: 40px;
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
}

h1::after {
  content: "";
  border-bottom: 4px black solid;
  display: block;
  width: 15%;
}

.writing-text h2 {
  height: 45px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: none;
  border-right: 2px solid #333;
  white-space: nowrap;
  -webkit-animation: moving-text 6s steps(80) 1s infinite alternate;
          animation: moving-text 6s steps(80) 1s infinite alternate;
}

.writing-text {
  -webkit-animation: blinking-Cursor 400ms steps(44) 1s infinte alternate;
          animation: blinking-Cursor 400ms steps(44) 1s infinte alternate;
}

@-webkit-keyframes moving-text {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}

@keyframes moving-text {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
@-webkit-keyframes blinking-Cursor {
  from {
    border-right: #333;
  }
  to {
    border-right: transparent;
  }
}
@keyframes blinking-Cursor {
  from {
    border-right: #333;
  }
  to {
    border-right: transparent;
  }
}
.creator-image {
  background-image: url(../assets/profile-photo-one.jpg);
  height: 100vh;
  width: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section {
  margin-left: 80px;
}

.about h3 {
  margin-right: 10px;
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutMe p {
  line-height: 1.2rem;
  display: inline-block;
}
.aboutMe ul {
  width: calc(50% - 20px);
  margin-left: 20px;
}
.aboutMe li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.aboutMe li h5 {
  margin-right: 8px;
}

.about, .projects, .News {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin-left: 80px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0 40px 0;
  text-align: center;
}
.skills li {
  font-size: 2rem;
  width: 25%;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education, .experience {
  width: 50%;
}

h3::after {
  content: "";
  display: inline-block;
  border-bottom: 3px #333 solid;
  width: 100%;
}

.project-gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.project-gallery ul .project {
  border-radius: 10%;
  width: calc(50% - 20px);
  margin: 0 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.project-gallery ul .project img {
  height: 350px;
}
.project-gallery ul .project:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: whitesmoke;
  padding: 18px 0 18px 0;
  position: sticky;
  bottom: 0;
  z-index: 20;
}
footer a {
  margin: 0 10px;
}
footer p {
  margin-left: 10px;
}